@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1230;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 32px;
}
p {
    color: white;
    font-size: 14px;
}

p a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}